.containerModifyResType {
  padding-top: 20vh;
  color: white;
  height: 100vh;
  background: linear-gradient(180deg, #1A1A42 0%, #25314c 40%, #3a4870 70%, #4e5b8c 100%);
}

.contentMRTP {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
  margin-top: 5vw;
}


.contentMRTP .cardEvent {
  background-color: #111111;
  border: 3px solid transparent;
  border-radius: 15px;
  width: 220px;
  height: 260px;
  padding: 20px;
  color: #ffffff;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
}

 
.contentMRTP .icon {
  font-size: 250%;
  margin-bottom: 2vh;
  color: white;
}


.contentMRTP .description {
  font-size: 14px;
  color: #aaa;
}


.contentMRTP .nameEvent {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.modifyEventBTN,.saveEventBTN {
  width: 7vw;
  font-size: 80%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
 
  border: none;
  transition: 0.3s;
}

.saveEventBTN {
  margin-top: 1vh;
}
.modifyEventBTN{
 margin-top: 3vh;
}

.contentMRTP .inputPrice{
  width: 7vw;
  font-size: 80%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  margin-top: 2vh;
  border-radius: 5px;
  height:4vh;

}

