/* PÁGINA ARENA YEYIAN PRINCIPAL */

/* Parámetros generales */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Definición de colores */
:root {
  --color-fondo: #1A1A42;
  --color-estrellas: #FFD55C;
  --color-botonRojo: #C4240E;
}

@font-face {
  font-family: 'Abolition';
  src: url("../assets/fonts/Abolition/AbolitionTest-Regular.otf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Anton';
  src: url("../assets/fonts/Anton-Regular.ttf") format('truetype');
}

/* Sección de reviews */
.reviewsContainer {
  min-height: 100vh;
  background-color: var(--color-fondo);
  
}

.reviewsContainer h1 {
  font-family: 'Abolition';
  color: white;
  padding-top: 13vh;
  font-size: 8vh;
  text-align: center;
}

/* Swiper carrusel */
.carousel .swiper {
  width: 100%;
 

 
}
  


.slider-wrapper{
  overflow:hidden;
  padding:2% 0;
  max-width: 90%;
  margin: 0 5vh 2vh;
}


/* Tarjetas */
.reviewsContainer .card {
  font-family: 'Roboto';
  user-select:none;
  max-width:29%;
  background: rgba(47, 46, 247, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid #2f2ef7;
  border-radius: 10px;
  padding: 20px;
  height: auto;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reviewsContainer .card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(47, 46, 247, 0.4);
}

/* Info personal */
.reviewsContainer .personalInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.imgProfile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}


.reviewsContainer .personReview {
  font-size: 1.2rem;
}

.reviewsContainer .additionDate {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

/* Estrellas */
.reviewsContainer .stars {
  display: flex;
  gap: 0.3rem;
  color: var(--color-estrellas);
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Comentario */
.reviewsContainer .reviewGiven {
  font-size: 1.1rem;
  text-align: justify;
}

/* Botón */
.reviewsContainer .btnReview {
  background-color: var(--color-botonRojo);
  border-radius: 2em;
  padding: 0.5em 1.5em;
  color: white;
  display: block;
  margin: 4vh auto 0;
  font-size: 1.3em;
  width: fit-content;
  height: fit-content;
}


.modalBlack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--color-fondo);
    font-family: 'Roboto';
    padding: 2rem;
    border-radius: 3%;
    width: 50%;
    position: relative;
    text-align: center;
}

.modal-content h2{
    font: 2.5em 'Abolition';
    color: white;
}
.modal-content h4{
    margin-top: 2%;
    font-size: 1.2em;
    color: white;
}



.hideModalBlack{
    display: none;
}

.modal-content .starsGrade {
    color: var(--color-estrellas);
    font-size:2em;
    display: flex;
    gap:2%;
    margin: 2%;
    justify-content: center;
}
.modal-content .comment{
    border: 0.3em solid var(--color-botonRojo);
    border-radius: 2rem;
    width: 90%;
    height: 30vh;
    background-color: var(--color-fondo);
    color: white;
    font-size: 1.5em;
    padding: 1rem;              
    resize: none;              
    line-height: 1.4;          
    vertical-align: top;
}
.modal-content .comment:focus {
    outline: none; 
  
}


.modal-content .btnAccept, .modal-content .btnCancel{
    color: white;
    background: var(--color-botonRojo);  
    border-radius:1rem;
    
    width:fit-content;
    
    height:fit-content;
    margin-top: 4%;
    font-size: 1.3em;
    margin: 2%;
}

.modal-content .btnCancel{
    background: rgba(196,36,14,0.6);  
}
.modal-content .btnCancel:hover{
    background: var(--color-botonRojo);
    
}
.modal-content .btn-review:focus{
  outline:none;
}

.modal-content .btnAccept:active,
.modal-content .btnCancel:active,
.modal-content .btnAccept:hover,
.modal-content .btnCancel:hover,
.modal-content .btn-review:hover,
.modal-content .btn-review:active
{
  box-shadow: 0 0 0.5vh 0.5vw rgba(196, 36, 14, 0.5);
  border: none;
  background-color: #A51E0C;
  outline:none;
}



