/*--------------------------
    GENERAL STYLES
----------------------------*/

/* Parámetros generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

.backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a42;
    z-index: 0;
}

/* Página de inicio (tiene el título de la arena yeiyian */
.arenaPresentation {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, var(--color-fondo) 100%),
        url('../assets/images/background_photo.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.arenaPresentation .centerImage {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    height: auto;
}

.arenaPresentation .titleContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    letter-spacing: 8px;
}

.arenaPresentation h1 {
    font-family: 'Abolition', sans-serif;
    font-size: 10rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.arenaPresentation h2 {
    font-family: 'Abolition', sans-serif;
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-style: italic;
}

/* --- Desvanecimiento --- */
.mainContainer {
  background-color: #1a1a42;
  color: #ffffff;
  min-height: 200vh; /* ejemplo: para tener suficiente altura de scroll */
}

.centerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* la imagen se ajusta sin deformarse */
  z-index: 1;
}

/* --- Estilos de root --- */
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

    /*Definición de colores*/
:root {
    --color-fondo: #1A1A42;
    --color-estrellas:#FFD55C;
    --color-botonRojo:#C4240E;
}

@font-face {
    font-family: 'Abolition';
    src: url("../assets/fonts/Abolition/AbolitionTest-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anton';
    src: url("../assets/fonts/Anton-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*NO BORREN ESTO DE ABAJO,son estios de reviews, se anidaron por una extraña razón con los de mi reviews.csspero ya funciona así*/
.reviewsContainer .carousel{
    font-family: 'roboto';
    width: 98%;
    margin: 11vh auto 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.reviewsContainer .card{
    display:inline-block;
    color: white;
    box-sizing: border-box;
    height: 45vh;
    width: 25%;
    border: 2px solid white;
    border-radius:10px;
    margin: 0 2%; 
}

.reviewsContainer .controllers{
    display:inline-block;
    color: white;
    font-size:400%;
}

.reviewsContainer .controllers:hover{
    color: var(--color-estrellas);
}

.reviewsContainer .personalInfo{
    display: flex;
    justify-content: flex-start;
    margin:5%;
}
.reviewsContainer .profilePicture{
    color:white;
    font-size: 300%;
    margin-right:5%;
}
.reviewsContainer .personReview{
    font-size: 125%;
    
}
.reviewsContainer .additionDate{
    margin-top:2%;
    font-size: 85%;
    
}

.reviewsContainer .stars{
    color:var(--color-estrellas);
    margin-left:5%;
    font-size:200%;
    display: flex;
    gap:5%;
}

.reviewsContainer .reviewGiven{
    margin:5%;
    font-size:1.4em;
    text-align:justify;
}

.reviewsContainer .btnReview{
    background-color:var(--color-botonRojo);
    border-radius:2em;
    padding: 0em 0em;
    color: white;
    width: 10%;
    height:5vh;
    margin: 8vh 45% 0;
    font-size: 1.3em;
    
}

