/* seccion de juegos*/
.gamesContainer {
    background-color: var(--color-fondo);
    text-align: center;
    padding-top: 6vh;
  
    position: relative;
    z-index: 0;

    height: 100vh;
}

.gamesContainer h1 {
    font-family:'Abolition';
    color: white;
    font-size: 8vh;
    
}

.gamesContainer .swiper{
    width: 80%;
    padding-top:10vh;
    height: 100%;

}

.gamesContainer .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
    

  height: 55vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0002,#0004);


}

.gamesContainer .swiper-slide img {
    display: block;
   
    
    border-radius: 10px;
    
    height: 55vh;
  width: 100%;

  object-fit: cover;


}

.swiper-pagination-videogames{
 
    justify-content:center;
     align-items: center;
     
}







