/* PÁGINA ARENA YEYIAN PRINCIPAL */

/* Parámetros generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
    /*Definición de colores*/
:root {
    --color-fondo: #1A1A42;
    --color-estrellas:#FFD55C;
    --color-botonRojo:#C4240E;
}

@font-face {
    font-family: 'Abolition';
    src: url("../assets/fonts/Abolition/AbolitionTest-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anton';
    src: url("../assets/fonts/Anton-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*Sección de reviews*/
.reviewsContainer{
    height: 100vh;
    background-color: var(--color-fondo);
}
.reviewsContainer h1{
    font-family:'Abolition';
    color: white;
    padding-top: 12vh;
    font-size: 8vh;
    text-align: center;
}
.reviewsContainer .carousel{
    font-family: 'roboto';
    width: 98%;
    margin: 11vh auto 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.reviewsContainer .card{
    display:inline-block;
    color: white;
    box-sizing: border-box;
    height: 45vh;
    width: 25%;
    border: 2px solid white;
    border-radius:10px;
    margin: 0 2%; 
}

.reviewsContainer .controllers{
    display:inline-block;
    color: white;
    font-size:400%;
}

.reviewsContainer .controllers:hover{
    color: var(--color-estrellas);
}

.reviewsContainer .personalInfo{
    display: flex;
    justify-content: flex-start;
    margin:5%;
}
.reviewsContainer .profilePicture{
    color:white;
    font-size: 300%;
    margin-right:5%;
}
.reviewsContainer .personReview{
    font-size: 125%;
    
}
.reviewsContainer .additionDate{
    margin-top:2%;
    font-size: 85%;
    
}

.reviewsContainer .stars{
    color:var(--color-estrellas);
    margin-left:5%;
    font-size:200%;
    display: flex;
    gap:5%;
}

.reviewsContainer .reviewGiven{
    margin:5%;
    font-size:1.4em;
    text-align:justify;
}

.reviewsContainer .btnReview{
    background-color:var(--color-botonRojo);
    border-radius:2em;
    padding: 0em 0em;
    color: white;
    width: 10%;
    height:5vh;
    margin: 8vh 45% 0;
    font-size: 1.3em;
    
}

.reviewsContainer .btnReview:hover{
    background-color:#A51E0C;;
}
.reviewsContainer .btnReview:active{
    box-shadow: 0 0 0.5vh 0.5vw rgba(196,36,14, 0.5);
}


